# 03-Operating on Data in Pandas

Pandas includes a couple useful twists, however: for unary operations like negation and trigonometric functions, these ufuncs will *preserve index and column labels* in the output, and for binary operations such as addition and multiplication, Pandas will automatically *align indices* when passing the objects to the ufunc.
This means that keeping the context of data and combining data from different sources–both potentially error-prone tasks with raw NumPy arrays–become essentially foolproof ones with Pandas.
We will additionally see that there are well-defined operations between one-dimensional ``Series`` structures and two-dimensional ``DataFrame`` structures.

## 3.1 Ufuncs: Index Preservation

Because Pandas is designed to work with NumPy, any NumPy ufunc will work on Pandas ``Series`` and ``DataFrame`` objects.
Let's start by defining a simple ``Series`` and ``DataFrame`` on which to demonstrate this:

In [1]:
import pandas as pd
import numpy as np

In [18]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0, 10, 4))
ser

0    6
1    3
2    7
3    4
dtype: int64

In [3]:
df = pd.DataFrame(rng.randint(0, 10, (3, 4)),
                  columns=['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

If we apply a NumPy ufunc on either of these objects, the result will be another Pandas object *with the indices preserved:*

In [4]:
np.exp(ser)

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

In [6]:
np.pi

3.141592653589793

Or, for a slightly more complex calculation:

In [5]:
np.sin(df * np.pi / 4)
# the original index is preserved

          A             B         C             D
0 -1.000000  7.071068e-01  1.000000 -1.000000e+00
1 -0.707107  1.224647e-16  0.707107 -7.071068e-01
2 -0.707107  1.000000e+00 -0.707107  1.224647e-16

## 3.2 UFuncs: Index Alignment

For binary operations on two ``Series`` or ``DataFrame`` objects, Pandas will __align indices__ in the process of performing the operation.
This is very convenient when working with incomplete data, as we'll see in some of the examples that follow.

### 3.2.1 Index alignment in Series

As an example, suppose we are combining two different data sources, and find only the top three US states by *area* and the top three US states by *population*:

In [11]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')
print(area)
print()
print(population)

Alaska        1723337
Texas          695662
California     423967
Name: area, dtype: int64

California    38332521
Texas         26448193
New York      19651127
Name: population, dtype: int64

Let's see what happens when we divide these to compute the population density:

In [7]:
population / area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

The resulting array contains the *union* of indices of the two input arrays, which could be determined using standard Python set arithmetic on these indices:

In [8]:
area.index | population.index

Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')

Any item for which one or the other does not have an entry is marked with ``NaN``, or "Not a Number," which is how Pandas marks missing data.
This index matching is implemented this way for any of Python's built-in arithmetic expressions; any missing values are filled in with NaN by default:

In [13]:
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
A + B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

If using NaN values is not the desired behavior, the fill value can be modified using appropriate object methods in place of the operators.
For example, calling ``A.add(B)`` is equivalent to calling ``A + B``, but allows optional explicit specification of the fill value for any elements in ``A`` or ``B`` that might be missing:

In [10]:
A.add(B, fill_value=0)
# fill A with 3:0, fill B with 0:0

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

In [15]:
A.add(B, fill_value=1)

0    3.0
1    5.0
2    9.0
3    6.0
dtype: float64

### 3.2.2 Index alignment in DataFrame

A similar type of alignment takes place for *both* columns and indices when performing operations on ``DataFrame``:

In [22]:
A = pd.DataFrame(rng.randint(0, 20, (2, 2)),
                 columns=list('AB'))
A

    A  B
0  11  5
1   1  0

In [23]:
B = pd.DataFrame(rng.randint(0, 10, (3, 3)),
                 columns=list('BAC'))
B

   B  A  C
0  9  5  8
1  0  9  2
2  6  3  8

In [24]:
A + B

      A     B   C
0  16.0  14.0 NaN
1  10.0   0.0 NaN
2   NaN   NaN NaN

Notice that indices are aligned correctly __irrespective of their order__ in the two objects, and indices in the result are sorted.
As was the case with ``Series``, we can use the associated object's arithmetic method and pass any desired ``fill_value`` to be used in place of missing entries.
Here we'll fill with the mean of all values in ``A`` (computed by first stacking the rows of ``A``):

In [27]:
A

    A  B
0  11  5
1   1  0

In [30]:
A.stack().mean()

4.25

In [32]:
fill = A.stack().mean()
A.add(B, fill_value=fill)

       A      B      C
0  16.00  14.00  12.25
1  10.00   0.00   6.25
2   7.25  10.25  12.25

In [34]:
A.mul(B, fill_value = fill)

       A     B     C
0  55.00  45.0  34.0
1   9.00   0.0   8.5
2  12.75  25.5  34.0

The following table lists Python operators and their equivalent Pandas object methods:

| Python Operator | Pandas Method(s)                      |
|-----------------|---------------------------------------|
| ``+``           | ``add()``                             |
| ``-``           | ``sub()``, ``subtract()``             |
| ``*``           | ``mul()``, ``multiply()``             |
| ``/``           | ``truediv()``, ``div()``, ``divide()``|
| ``//``          | ``floordiv()``                        |
| ``%``           | ``mod()``                             |
| ``**``          | ``pow()``                             |

## 3.3 Ufuncs: Operations Between DataFrame and Series

When performing operations between a ``DataFrame`` and a ``Series``, the index and column alignment is similarly maintained.
Operations between a ``DataFrame`` and a ``Series`` are similar to operations between a two-dimensional and one-dimensional NumPy array.
Consider one common operation, where we find the difference of a two-dimensional array and one of its rows:

In [38]:
A = rng.randint(10, size=(3, 4))
A

array([[2, 4, 2, 6],
       [4, 8, 6, 1],
       [3, 8, 1, 9]])

In [39]:
A - A[0]

array([[ 0,  0,  0,  0],
       [ 2,  4,  4, -5],
       [ 1,  4, -1,  3]])

According to NumPy's broadcasting rules, subtraction between a two-dimensional array and one of its rows is applied row-wise.

In Pandas, the convention similarly operates row-wise by default:

In [41]:
df = pd.DataFrame(A, columns=list('QRST'))
df.iloc[0]

Q    2
R    4
S    2
T    6
Name: 0, dtype: int64

In [42]:
df

   Q  R  S  T
0  2  4  2  6
1  4  8  6  1
2  3  8  1  9

In [43]:
df - df.iloc[0]

   Q  R  S  T
0  0  0  0  0
1  2  4  4 -5
2  1  4 -1  3

If you would instead like to operate column-wise, you can use the object methods mentioned earlier, while specifying the ``axis`` keyword:

In [44]:
df['R']

0    4
1    8
2    8
Name: R, dtype: int64

In [45]:
# perform a column-wise operation 
df.subtract(df['R'], axis=0)

   Q  R  S  T
0 -2  0 -2  2
1 -4  0 -2 -7
2 -5  0 -7  1

Note that these ``DataFrame``/``Series`` operations, like the operations discussed above, will automatically align  indices between the two elements:

In [47]:
halfrow = df.iloc[0, ::2]
halfrow

Q    2
S    2
Name: 0, dtype: int64

In [49]:
df

   Q  R  S  T
0  2  4  2  6
1  4  8  6  1
2  3  8  1  9

In [48]:
df - halfrow

     Q   R    S   T
0  0.0 NaN  0.0 NaN
1  2.0 NaN  4.0 NaN
2  1.0 NaN -1.0 NaN

This preservation and alignment of indices and columns means that operations on data in Pandas will always maintain the data context, which prevents the types of silly errors that might come up when working with heterogeneous and/or misaligned data in raw NumPy arrays.