# Sets in Python
## By Allen Huang

Sets is pretty good in membership test !

In [14]:
# create a set
s1 = set([1,2,3,4,5,5])
print(s1)
s2 = {1,2,3,4,4}
print(s2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4}

In [15]:
# create a empty set
s3 = set()

In [16]:
# add a value
s3.add(6)
print(s3)
# pass in a list
s3.update([1,2])
print(s3)
# pass in sets
s3.update({1,4,5},s1)
print(s3)

{6}
{1, 2, 6}
{1, 2, 3, 4, 5, 6}

In [17]:
# get rid of value
s3.remove(1)
print(s3)
s3.discard(8) # will not occur error if 8 is not in the set
print(s3)

{2, 3, 4, 5, 6}
{2, 3, 4, 5, 6}

In [19]:
# intersection
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s3 = {3, 4, 5}
s4 = s1.intersection(s2) # get the value that are in both s2 and s1
print(s4)
s4 = s1.intersection(s2, s3) 
print(s4)

{2, 3}
{3}

In [22]:
# difference
# value in s1 that are not in s2
# 4 is not in s1 but in s2, in will  not be returned
s5 = s1.difference(s2)
print(s5)
s5 = s2.difference(s1,s3)
print(s5)

{1}
set()

In [24]:
# symmetric difference
s6 = s1.symmetric_difference(s2)
s6

{1, 4}

In [25]:
# remove duplicates in a list
l1 = [1,2,3,4,5,1,3,5]
l2 = list(set(l1))
l2

[1, 2, 3, 4, 5]

In [31]:
# with out this ...
l2 = []
for i in l1:
    if i not in l2:
        l2.append(i)
    else:
        pass
l2

[1, 2, 3, 4, 5]

In [33]:
employees = ['Corey', 'Jim', 'Steven', 'April', 'Judy', 'Jenn', 'John', 'Jane']

gym_members = ['April', 'John', 'Corey']

developers = ['Judy', 'Corey', 'Steven', 'Jane', 'April']

In [37]:
result = set(employees).intersection(developers)
print(list(result))

['Corey', 'Judy', 'Jane', 'April', 'Steven']

In [39]:
result = set(employees).difference(gym_members, developers)
print(list(result))

['Jim', 'Jenn']